$dark: #000;
$light: #fff;
$main: #d93250;
$gray: #a1a0a0;
$dark-main: #bb1433;
$nav-bgc: rgba(0, 0, 0, 0.85);
$fav-bgc: rgba(0, 0, 0, 0.8);
$header-bgc: rgba(0, 0, 0, 0.7);
$translucent-main: rgba(217, 50, 80, 0.44);
