@use "./colors" as *;

.movieList {
	&__container {
		display: flex;
		padding: 7em 2em;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		&-mylist {
			flex-direction: column;
			padding: 2em;
		}
	}

	&__heading {
		text-transform: uppercase;
		color: $main;
		font-size: 1.5rem;

		&-movies {
			margin-top: 3.5em;
		}
	}
}

.list {
	&__container {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 0.5em;
	}
}

.fav {
	&__container {
		position: absolute;
		width: 100%;
		height: 20%;
		bottom: 0;
		left: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;
		background-color: $fav-bgc;
	}
}
.btnFav {
	&__container {
		cursor: pointer;
		border: none;
		background: none;
		color: $light;
		font-family: "Manjari", sans-serif;
		font-size: 1.2rem;
	}

	&__item {
		padding: 0.5em;
	}

	&__heart {
		color: $main;
	}
}

.favList {
	&__container {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
	}
}

// @media (max-width: 576px) {

// }

@media (min-width: 768px) {
	.fav {
		&__container {
			opacity: 0;
			transition: opacity 0.3s;
			height: 100%;
			&:hover {
				opacity: 1;
			}
		}
	}
	.movieList {
		&__heading {
			font-size: 2rem;
		}
	}

	.list {
		&__container {
			margin: 1em;
		}
	}
}

// @media (min-width: 992px) {
// }

// @media (min-width: 1200px) {

// }
