@use "./colors" as *;

.movieList {
	&__container {
		display: flex;
		padding: 7em 2em;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		&-mylist {
			flex-direction: column;
			padding: 2em;
		}
	}

	&__heading {
		text-transform: uppercase;
		color: $main;
		font-size: 1.5rem;

		&-movies {
			margin-top: 3.5em;
		}
	}
}

.list {
	&__container {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 0.5em;
	}

	&__img {
		object-fit: cover;
		width: 300px;
		height: 450px;
	}
	&__noImg {
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
		text-align: center;
		padding: 2em 1em;
		background-color: $fav-bgc;
	}
}

.fav {
	&__container {
		position: absolute;
		width: 100%;
		height: 20%;
		bottom: 0;
		left: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;
		background-color: $fav-bgc;
	}
}
.btnFav {
	&__container {
		cursor: pointer;
		border: none;
		background: none;
		color: $light;
		font-family: "Quicksand", sans-serif;
		font-size: 1.2rem;
	}

	&__item {
		padding: 0.5em;
	}

	&__removeHeart {
		color: $main;
	}
}

.favList {
	&__container {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
	}
}

.popup {
	&__container {
		position: fixed;
		top: 30%;
		left: 50%;
		transform: translate(-50%, -50%);
		display: none;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		background-color: $light;
		padding: 2em;
		border-radius: 2em;
		box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
		&-visible {
			display: flex;
		}
	}
	&__text {
		color: $dark;
		font-weight: bold;
		margin-bottom: 2em;
		text-align: center;
		font-size: 1rem;
	}
	&__btn {
		font-family: "Quicksand", sans-serif;
		text-transform: uppercase;
		font-weight: bold;
		cursor: pointer;
		background: none;
		color: $dark;
		border: solid 0.3em $dark-main;
		padding: 1em 2em;
		border-radius: 2em;
		font-size: 0.8rem;
		&:hover {
			background-color: $dark-main;
			color: $light;
		}
	}
}

@media (min-width: 768px) {
	.fav {
		&__container {
			opacity: 0;
			transition: opacity 0.3s;
			height: 100%;
			&:hover {
				opacity: 1;
			}
		}
	}
	.movieList {
		&__heading {
			font-size: 2rem;
		}
	}

	.list {
		&__container {
			margin: 1em;
		}
	}
	.popup {
		&__container {
			top: 20%;
		}
	}
}
