@use "./colors" as *;

.nav {
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background-color: $nav-mobile-bgc;
	font-family: "Manjari", sans-serif;
	font-weight: 400;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	transition: 0.5s;
	&-extended {
		height: 6em;
	}
	&__container {
		position: absolute;
		top: 50%;
		left: 50%;
		display: none;
		transform: translate(-50%, -50%);
		align-items: center;
		justify-content: center;
		flex-direction: column;
		list-style: none;
		text-align: center;
		line-height: 3em;

		&__item {
			margin: 1em;
			padding: 0.5em;
			font-size: 1.2rem;
			text-decoration: none;
			color: $light;

			&:hover {
				color: $gray;
			}

			&-red {
				color: $main;
				text-decoration: none;

				&:hover {
					color: $dark-main;
				}
			}
		}
	}
	&__second-container {
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

.wrapper {
	display: flex;
	align-items: center;
	max-width: 1600px;
	width: 100%;
	//height: 5em;
	padding: 1em 2em;
	justify-content: space-between;
}

.logo {
	font-family: "Koulen", sans-serif;
	font-size: 1.5rem;
	cursor: pointer;
}

.burgerBtn {
	&__container {
		height: 1.5em;
		width: 1.5em;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: space-between;
		cursor: pointer;
	}
	&__item {
		width: 1.5em;
		height: 0.15em;
		background-color: $main;
		border-radius: 0.5em;

		&-clicked:nth-child(1) {
			transform: translateY(-0.55em) rotate(45deg) translate(0.75em, 1.25em);
			transition: ease-out 0.5s;
		}
		&-clicked:nth-child(2) {
			transform: scale(0);
			transition: ease-out 0.5s;
		}
		&-clicked:nth-child(3) {
			transform: translateY(0.55em) rotate(135deg) translate(-0.5em, 1em);
			transition: ease-out 0.5s;
		}
		&-unclicked:nth-child(0) {
			transform: rotate(0) translate(0);
			transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;
		}
	}
}

.hidden {
	display: none;
}

.visible {
	display: flex;
}

// navbar animation

.login {
	&__btn {
		cursor: pointer;
		background: none;
		border: none;
		color: $main;
		font-size: 1.7rem;
		margin: 0.5em;
		padding: 0.2em;
		&:hover {
			color: $dark-main;
		}
	}
}

.search {
	position: absolute;
	top: 25%;
	left: 50%;
	transform: translate(-50%, -50%);
	border: 0.2em $main solid;
	border-radius: 1.5em;
	background: none;
	&__icon {
		height: 1em;
		margin: 0.7em 0.7em 0.7em 0.3em;
		color: $main;
	}
	&__input {
		width: 100%;
		background: none;
		color: $light;
		border: none;
		outline: none;
		padding: 0.7em 0.5em 0.7em 1em;
		//padding: 0.3em 0.3em 0.3em 0.3em;
	}
}

.logout {
	&__container {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	&__btn {
		cursor: pointer;
		margin-right: 0.3em;
		background: none;
		color: $main;
		border: none;
		padding: 0.5em;
		font-size: 1.5rem;
		&:hover {
			color: $dark-main;
		}
	}
}

// @media (max-width: 576px) {
// 	.nav__container {
// 		display: none;
// 	}
// 	.search {
// 		display: none;
// 	}
// }

// @media (min-width: 768px) {
// }

// @media (min-width: 992px) {
// }

@media (min-width: 1200px) {
	.nav {
		align-items: center;
		height: auto;
		&__container {
			display: flex;
			flex-direction: row;
			line-height: normal;

			position: static;
			top: unset;
			right: unset;
			transform: none;
		}
	}
	.burgerBtn__container {
		display: none;
	}
	.search {
		display: flex;
		position: static;
		top: unset;
		right: unset;
		transform: none;
	}
	.logo {
		font-size: 2em;
	}
	.wrapper {
		height: 5em;
		padding: 2em 3em;
	}
}
